<div class="main-container">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <!--<div class="form-group">
        <label class="col-3">
          Email Address
        </label>
        <input class="col-9" formControlName="userEmail" type="email" class="form-control" placeholder="Enter email"/>
      </div>

          <div *ngIf="(isSubmitted && formCntrls.userEmail.errors) || (formCntrls.userEmail.touched && formCntrls.userEmail.invalid)" class="alert alert-danger">
            <div *ngIf="formCntrls.userEmail.errors.required">Email is required.</div>
            <div *ngIf="formCntrls.userEmail.errors.email">Please, enter a valid email address.</div>
          </div>-->


    <h2>Register Vehicle</h2>
      <div class="form-group">
        <label class="col-3">
          Vehicle no.
        </label>
        <input formControlName="vehicleNo" class="col-9" type="text" class="form-control" placeholder="Enter vehicle no"/>
      </div>

    <div *ngIf="(isSubmitted && formCntrls.vehicleNo.errors) || (formCntrls.vehicleNo.touched && formCntrls.vehicleNo.invalid)" class="alert alert-danger">
      <div *ngIf="formCntrls.vehicleNo.errors.required">Vehicle No is required.</div>
      <div *ngIf="formCntrls.vehicleNo.errors.minlength">Vehicle No should be 3 character.</div>
    </div>

      <div class="form-group">
        <label class="col-3">
          Vehicle model
        </label>
        <input formControlName="vehicleModel" class="col-9" type="text" class="form-control" placeholder="Enter vehicle model"/>
      </div>

    <div *ngIf="(isSubmitted && formCntrls.vehicleModel.errors) || (formCntrls.vehicleModel.touched && formCntrls.vehicleModel.invalid)" class="alert alert-danger">
      <div *ngIf="formCntrls.vehicleModel.errors.required">Vehicle model is required.</div>
      <div *ngIf="formCntrls.vehicleModel.errors.minlength">Vehicle model should be 3 character.</div>
    </div>

      <div class="form-group">
        <label class="col-3">
          Vehicle initial kms reading
        </label>
        <input formControlName="initialKmsReading" class="col-9" type="number" class="form-control" placeholder="Enter initial reading"/>
      </div>

    <div *ngIf="(isSubmitted && formCntrls.initialKmsReading.errors) || (formCntrls.initialKmsReading.touched && formCntrls.initialKmsReading.invalid)" class="alert alert-danger">
      <div *ngIf="formCntrls.initialKmsReading.errors.required">Initial reading is required.</div>
      <div *ngIf="formCntrls.initialKmsReading.errors.pattern">Please enter a valid numeric reading.</div>
    </div>

    <div class="align-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
